.terraform*
terraform.tfstate*
.terraform/
hardway/artifacts/
*.dtmp
*.bkp
k8s-hardway.json
lfs258/
.venv/
*.out
*.crt
*.key
cluster1/tmp
cluster1/k_var*
cluster1/kubeadm-config.yaml
cluster1/metrics-server.values
